Lab/Lab2/flow.json
[{"id":"542b1f4.ff9b4e","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"785d9c3.3deae64","type":"serial in","z":"542b1f4.ff9b4e","name":"","serial":"93db53c6.89d2f","x":106.5,"y":256.00000286102295,"wires":[["eb8a5b84.d52a98"]]},{"id":"eb8a5b84.d52a98","type":"function","z":"542b1f4.ff9b4e","name":"parseSensorData","func":"var input = msg.payload.split(\"|\");\n\nvar temperature = parseFloat(input[0]);\nvar pressure = parseFloat(input[1]);\nvar altitude = parseFloat(input[2]);\nvar concentration = parseFloat(input[3]);\nvar light = parseFloat(input[4]);\nvar humanity = parseFloat(input[5]);\nvar temp = parseFloat(input[6]);\nvar vsig = parseFloat(input[7]);\nvar BPM = parseInt(input[8]);\n\nvar formatString = \"Temperature: \" + temperature + \"\\n\" + \"Pressure:\" + pressure + \"\\n\" + \"Altitude:\" + altitude + \"\\n\" + \"Concentration:\" + concentration + \"\\n\" + \"light:\" + light + \"\\n\" + \"Humanity:\" + humanity + \"\\n\" + \"Temp:\" + temp + \"\\n\" + \"Vsig:\" + vsig + \"\\n\" + \"BPM:\" + BPM;\n\nvar msg1 = {payload:temperature};\nvar msg2 = {payload:pressure};\nvar msg3 = {payload:altitude};\nvar msg4 = {payload:concentration};\nvar msg5 = {payload:light};\nvar msg6 = {payload:humanity};\nvar msg7 = {payload:temp};\nvar msg8 = {payload:vsig};\nvar msg9 = {payload:BPM};\nvar msg10 = {payload:formatString};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10];","outputs":10,"noerr":0,"x":341.5000057220459,"y":256.00000190734863,"wires":[["7500525e.90055c"],["353f79d4.3bb2f6"],["ed69ea3f.d28e98"],["c648f0da.e8f4f"],["c0c5780.c377688"],["e833b2fe.ff747"],["1e34586a.0b1378"],["4709ddd6.0133d4"],["3d047b32.a828b4"],["9ad83040.e2531"]]},{"id":"7500525e.90055c","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":0,"width":"8","height":"3","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":612.5000076293945,"y":173.00000190734863,"wires":[[],[]]},{"id":"353f79d4.3bb2f6","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":1,"width":"8","height":"3","label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":603.5,"y":210,"wires":[[],[]]},{"id":"ed69ea3f.d28e98","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"Altitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":602.5000076293945,"y":244.00000381469727,"wires":[[],[]]},{"id":"c648f0da.e8f4f","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"Concentration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620.0000076293945,"y":279.00000381469727,"wires":[[],[]]},{"id":"c0c5780.c377688","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590.0000076293945,"y":315.0000047683716,"wires":[[],[]]},{"id":"e833b2fe.ff747","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"Humanity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":597.0000076293945,"y":353.0000071525574,"wires":[[],[]]},{"id":"1e34586a.0b1378","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":585.0000076293945,"y":390.00000762939453,"wires":[[],[]]},{"id":"4709ddd6.0133d4","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"Vsig","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":583.0000076293945,"y":427.99999618530273,"wires":[[],[]]},{"id":"3d047b32.a828b4","type":"ui_chart","z":"542b1f4.ff9b4e","name":"","group":"38aa013.2844bfe","order":2,"width":"8","height":"3","label":"BPM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":582.0000076293945,"y":467.39999771118164,"wires":[[],[]]},{"id":"9df840ea.5d993","type":"debug","z":"542b1f4.ff9b4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":753.5000114440918,"y":506.3999614715576,"wires":[]},{"id":"9ad83040.e2531","type":"rbe","z":"542b1f4.ff9b4e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":581.5000076293945,"y":505.2000102996826,"wires":[["9df840ea.5d993","835e6b1d.ca6fb8"]]},{"id":"835e6b1d.ca6fb8","type":"twitter out","z":"542b1f4.ff9b4e","twitter":"","name":"Tweet","x":737.5000095367432,"y":560.2000198364258,"wires":[]},{"id":"93db53c6.89d2f","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"38aa013.2844bfe","type":"ui_group","z":"","name":"Default","tab":"148893da.bc39dc","disp":true,"width":"24","collapse":false},{"id":"148893da.bc39dc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
