ICP/ICP7/1.json
[{"id":"9e40b5f.ff69b48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"45572c93.17a5b4","type":"rpi-gpio out","z":"9e40b5f.ff69b48","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":510,"y":180,"wires":[]},{"id":"52e2b047.dba1d","type":"inject","z":"9e40b5f.ff69b48","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":140,"wires":[["45572c93.17a5b4"]]},{"id":"18cf588e.87ae67","type":"inject","z":"9e40b5f.ff69b48","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":220,"wires":[["45572c93.17a5b4"]]}]