ICP/ICP7/3.json
[{"id":"945c8625.45a2d8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4af7f48e.b9d6cc","type":"rpi-dht22","z":"945c8625.45a2d8","name":"DHT22","topic":"DH2","dht":"22","pintype":"0","pin":"3","x":460,"y":320,"wires":[["9bdca0e1.f7678","e2fc7be6.007838","fb03233c.ef077"]]},{"id":"9bdca0e1.f7678","type":"debug","z":"945c8625.45a2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":320,"wires":[]},{"id":"e2fc7be6.007838","type":"ui_chart","z":"945c8625.45a2d8","name":"","group":"24cec605.29ab5a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":480,"wires":[[]]},{"id":"fb03233c.ef077","type":"function","z":"945c8625.45a2d8","name":"GenerateTweet","func":"msg.payload = \"DHT22: \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["9bdca0e1.f7678","ff457c4c.e2878"]]},{"id":"ff457c4c.e2878","type":"twitter out","z":"945c8625.45a2d8","twitter":"","name":"Tweet","x":950,"y":140,"wires":[]},{"id":"78c37820.1d71a8","type":"inject","z":"945c8625.45a2d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"2","x":280,"y":320,"wires":[["4af7f48e.b9d6cc"]]},{"id":"24cec605.29ab5a","type":"ui_group","z":"","name":"Default","tab":"f6ed63ce.1434","disp":true,"width":"6","collapse":false},{"id":"f6ed63ce.1434","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":1}]