ICP/ICP7/4.json
[{"id":"5822a48.47e2b5c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"937e3319.21325","type":"rpi-gpio out","z":"5822a48.47e2b5c","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":590,"y":140,"wires":[]},{"id":"894bdda6.f5ab7","type":"inject","z":"5822a48.47e2b5c","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":40,"wires":[["937e3319.21325","c707cfeb.f2ddf","d8af4320.e2d2a"]]},{"id":"fca5ddd1.2ce6f","type":"inject","z":"5822a48.47e2b5c","name":"Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":420,"wires":[["937e3319.21325","c707cfeb.f2ddf","d8af4320.e2d2a"]]},{"id":"c707cfeb.f2ddf","type":"rpi-gpio out","z":"5822a48.47e2b5c","name":"LED","pin":"3","set":"","level":"0","freq":"","out":"out","x":590,"y":220,"wires":[]},{"id":"d8af4320.e2d2a","type":"rpi-gpio out","z":"5822a48.47e2b5c","name":"LED","pin":"12","set":"","level":"0","freq":"","out":"out","x":590,"y":300,"wires":[]},{"id":"4ccaf3fa.b0c5ec","type":"random","z":"5822a48.47e2b5c","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":140,"wires":[["937e3319.21325"]]},{"id":"a55cc49e.f87dc8","type":"random","z":"5822a48.47e2b5c","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":220,"wires":[["c707cfeb.f2ddf"]]},{"id":"ae8f0a27.cc8638","type":"random","z":"5822a48.47e2b5c","name":"","low":"0","high":"1","inte":"true","property":"payload","x":400,"y":300,"wires":[["d8af4320.e2d2a"]]},{"id":"d2d43c08.dae12","type":"inject","z":"5822a48.47e2b5c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":220,"wires":[["4ccaf3fa.b0c5ec","a55cc49e.f87dc8","ae8f0a27.cc8638"]]}]