ICP/ICP6/1.json
[{"id":"542b1f4.ff9b4e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d383b007.23f6d","type":"celsius-to-fahrenheit","z":"542b1f4.ff9b4e","name":"","x":303.5,"y":108.00000190734863,"wires":[["e7b2bb6c.d9c4e8"]]},{"id":"20e1b46f.d75a4c","type":"lower-case","z":"542b1f4.ff9b4e","name":"","x":286.50000190734863,"y":201.00000190734863,"wires":[["803aa21.e44db6"]]},{"id":"dcd61c5f.8becf","type":"inject","z":"542b1f4.ff9b4e","name":"","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79.5,"y":109.00000095367432,"wires":[["d383b007.23f6d"]]},{"id":"e7b2bb6c.d9c4e8","type":"debug","z":"542b1f4.ff9b4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":501.50000762939453,"y":109.00000190734863,"wires":[]},{"id":"be879693.9a5b88","type":"inject","z":"542b1f4.ff9b4e","name":"","topic":"","payload":"APple","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79.5,"y":201.00000190734863,"wires":[["20e1b46f.d75a4c"]]},{"id":"803aa21.e44db6","type":"debug","z":"542b1f4.ff9b4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":477.50000762939453,"y":202.00000190734863,"wires":[]}]
