ICP/ICP6/2.json
[{"id":"ccac0730.d55e78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"59b2e4d4.5c08ec","type":"inject","z":"ccac0730.d55e78","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","x":212,"y":301,"wires":[["ea1e8823.e64d88"]]},{"id":"ea1e8823.e64d88","type":"function","z":"ccac0730.d55e78","name":"Toggle output on input","func":"context.level = !context.level || false;\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":301,"wires":[["833cd151.40723"]]},{"id":"833cd151.40723","type":"arduino out","z":"ccac0730.d55e78","name":"","pin":"12","state":"OUTPUT","arduino":"6d293dd3.e13e74","x":637.5000076293945,"y":300.00000381469727,"wires":[]},{"id":"6d293dd3.e13e74","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]
