ICP/ICP6/3.json
[{"id":"a5c0956d.0c3178","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"87d1a95d.39a348","type":"inject","z":"a5c0956d.0c3178","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","x":306,"y":244.00000381469727,"wires":[["c69f5727.5872e8"]]},{"id":"c69f5727.5872e8","type":"function","z":"a5c0956d.0c3178","name":"Toggle output on input","func":"context.level = !context.level || false;\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":502.00000762939453,"y":244.00000381469727,"wires":[["c15ddb58.e7c278","27070a86.5cd3f6","2fdda159.53eb6e"]]},{"id":"c15ddb58.e7c278","type":"arduino out","z":"a5c0956d.0c3178","name":"Red-Blink","pin":"12","state":"OUTPUT","arduino":"6d293dd3.e13e74","x":727.5000114440918,"y":167.00000190734863,"wires":[]},{"id":"27070a86.5cd3f6","type":"arduino out","z":"a5c0956d.0c3178","name":"Green-Blink","pin":"13","state":"OUTPUT","arduino":"6d293dd3.e13e74","x":740.5000114440918,"y":238.00000381469727,"wires":[]},{"id":"2fdda159.53eb6e","type":"arduino out","z":"a5c0956d.0c3178","name":"Yellow-Blink","pin":"11","state":"OUTPUT","arduino":"6d293dd3.e13e74","x":741.5000114440918,"y":301.0000047683716,"wires":[]},{"id":"6d293dd3.e13e74","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]
