ICP/ICP4/1.txt
[{"id":"1f781074.7ef5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c48191c.d7d486","type":"inject","z":"1f781074.7ef5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":178.50000381469727,"y":175.00000190734863,"wires":[["4d126fe1.f8b59"]]},{"id":"4d126fe1.f8b59","type":"openweathermap","z":"1f781074.7ef5","name":"","wtype":"current","lon":"","lat":"","city":"OLATHE","country":"Kansas","language":"en","x":374.50000762939453,"y":175.00000190734863,"wires":[["f1b2d664.f930f8"]]},{"id":"aa9c1013.2f18","type":"debug","z":"1f781074.7ef5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":843.5000114440918,"y":79.00000190734863,"wires":[]},{"id":"f1b2d664.f930f8","type":"function","z":"1f781074.7ef5","name":"extractTweetMessage","func":"msg.payload = \"Weather update:\" + msg.payload['description'];\nreturn msg;","outputs":1,"noerr":0,"x":608.5000076293945,"y":174.00000286102295,"wires":[["738a559d.729c8c","aa9c1013.2f18","4850f4bc.38749c"]]},{"id":"738a559d.729c8c","type":"twitter out","z":"1f781074.7ef5","twitter":"","name":"Tweet","x":830.5000114440918,"y":253.00000381469727,"wires":[]},{"id":"4850f4bc.38749c","type":"e-mail","z":"1f781074.7ef5","server":"smtp.gmail.com","port":"587","secure":false,"name":"yongzheng0809@gmail.com","dname":"Email","x":822.5000152587891,"y":175.00000190734863,"wires":[]}]