ICP/ICP5/all.txt
[{"id":"38edcd1b.0d52d2","type":"tab","label":"All","disabled":false,"info":""},{"id":"a6a83242.8b66a","type":"switch","z":"38edcd1b.0d52d2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"str"},{"t":"lte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750.5000076293945,"y":89.00000381469727,"wires":[["cdd9f439.2ae5f8"],["cb30a93f.678488"]]},{"id":"82037143.69821","type":"change","z":"38edcd1b.0d52d2","name":"Upper case for the header","rules":[{"t":"change","p":"payload","pt":"msg","from":"Weather update","fromt":"str","to":"WEATHER UPDATE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":794.5000076293945,"y":28.000003814697266,"wires":[["9ba33a99.e9b788"]]},{"id":"5be90cb9.0df3c4","type":"range","z":"38edcd1b.0d52d2","minin":"0","maxin":"200","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":614.5000076293945,"y":90.00000190734863,"wires":[["a6a83242.8b66a"]]},{"id":"87fe5478.1e3ad8","type":"rbe","z":"38edcd1b.0d52d2","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":613.5000076293945,"y":29.000003814697266,"wires":[["82037143.69821"]]},{"id":"87f38265.2efd8","type":"file","z":"38edcd1b.0d52d2","name":"","filename":"temp","appendNewline":true,"createDir":false,"overwriteFile":"false","x":465.50000762939453,"y":146.00000190734863,"wires":[[]]},{"id":"cdb6d2ac.f78b2","type":"openweathermap","z":"38edcd1b.0d52d2","name":"","wtype":"current","lon":"","lat":"","city":"Olathe","country":"United States","language":"en","x":240.5,"y":126.20000648498535,"wires":[["e608fe09.27de","563c1bb8.998934","87f38265.2efd8","1f27fcc.21d3703","e94f487f.b6b438"]]},{"id":"9ba33a99.e9b788","type":"debug","z":"38edcd1b.0d52d2","name":"Upper case","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1001.5000114440918,"y":28.000015258789062,"wires":[]},{"id":"508388bd.ce6d78","type":"inject","z":"38edcd1b.0d52d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":111.5,"y":29.000028133392334,"wires":[["cdb6d2ac.f78b2"]]},{"id":"e608fe09.27de","type":"function","z":"38edcd1b.0d52d2","name":"Extra data","func":"msg.payload = \"Weather update:\" + msg.payload['description']\nreturn msg;","outputs":1,"noerr":0,"x":475.50000762939453,"y":29.400014877319336,"wires":[["87fe5478.1e3ad8"]]},{"id":"563c1bb8.998934","type":"function","z":"38edcd1b.0d52d2","name":"Extra data","func":"msg.payload = msg.payload['humidity']\nreturn msg;","outputs":1,"noerr":0,"x":475.00000762939453,"y":90.00000095367432,"wires":[["5be90cb9.0df3c4"]]},{"id":"cdd9f439.2ae5f8","type":"debug","z":"38edcd1b.0d52d2","name":">5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":894.5,"y":74,"wires":[]},{"id":"cb30a93f.678488","type":"debug","z":"38edcd1b.0d52d2","name":"<=5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":897.5000114440918,"y":118.00000190734863,"wires":[]},{"id":"6b9993b7.33289c","type":"http in","z":"38edcd1b.0d52d2","name":"","url":"/temp","method":"get","upload":false,"swaggerDoc":"","x":132,"y":281.00000190734863,"wires":[["cdb6d2ac.f78b2"]]},{"id":"e94f487f.b6b438","type":"http response","z":"38edcd1b.0d52d2","name":"","statusCode":"","headers":{},"x":446.50000762939453,"y":284.0000057220459,"wires":[]},{"id":"af5e8cb2.07cb4","type":"websocket in","z":"38edcd1b.0d52d2","name":"","server":"daea0491.04b8e8","client":"","x":820.0000076293945,"y":198.00000286102295,"wires":[["ede4ca6e.ef37a8"]]},{"id":"1f27fcc.21d3703","type":"websocket out","z":"38edcd1b.0d52d2","name":"","server":"daea0491.04b8e8","client":"","x":537.0000610351562,"y":199.00000381469727,"wires":[]},{"id":"ede4ca6e.ef37a8","type":"debug","z":"38edcd1b.0d52d2","name":"Socket","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1040.000015258789,"y":195.00000381469727,"wires":[]},{"id":"daea0491.04b8e8","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"false"}]
