ICP/ICP5/change.txt
[{"id":"3305cc92.1180c4","type":"tab","label":"Change Node Demo","disabled":false,"info":""},{"id":"e45481eb.48e98","type":"inject","z":"3305cc92.1180c4","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79.5,"y":97,"wires":[["e2eff79a.72af88"]]},{"id":"e2eff79a.72af88","type":"change","z":"3305cc92.1180c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"this is not being analyzed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":256.5,"y":98.00000095367432,"wires":[["afe730e1.6bdee"]]},{"id":"afe730e1.6bdee","type":"debug","z":"3305cc92.1180c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":465.50000381469727,"y":96.00000143051147,"wires":[]}]
