ICP/ICP5/http.txt
[{"id":"2b2bdcb2.8b1b84","type":"tab","label":"HTTP Demo","disabled":false,"info":""},{"id":"65d93771.37b2c8","type":"template","z":"2b2bdcb2.8b1b84","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","output":"str","x":419.50000381469727,"y":145.00000190734863,"wires":[["a295837e.0d3d5"]]},{"id":"a295837e.0d3d5","type":"http response","z":"2b2bdcb2.8b1b84","name":"","statusCode":"","headers":{},"x":613.5,"y":145,"wires":[]},{"id":"c51a2cdc.aa8b9","type":"http in","z":"2b2bdcb2.8b1b84","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":191.5,"y":141,"wires":[["65d93771.37b2c8"]]}]
