ICP/ICP5/range.txt
[{"id":"8423d6e3.05a0d8","type":"tab","label":"Range Node Demo","disabled":false,"info":""},{"id":"cd167169.8f0a4","type":"inject","z":"8423d6e3.05a0d8","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":121.5,"y":95.00000095367432,"wires":[["752ba4f9.f6c65c"]]},{"id":"4095f205.890e9c","type":"inject","z":"8423d6e3.05a0d8","name":"","topic":"","payload":"512","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.5,"y":169.00000190734863,"wires":[["752ba4f9.f6c65c"]]},{"id":"e6f4f98d.b1ed88","type":"inject","z":"8423d6e3.05a0d8","name":"","topic":"","payload":"1023","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128.5,"y":245.00000381469727,"wires":[["752ba4f9.f6c65c"]]},{"id":"752ba4f9.f6c65c","type":"range","z":"8423d6e3.05a0d8","minin":"0","maxin":"2000","minout":"0","maxout":"5","action":"scale","round":false,"property":"payload","name":"","x":267.50000381469727,"y":170.00000190734863,"wires":[["bde64949.423738"]]},{"id":"bde64949.423738","type":"debug","z":"8423d6e3.05a0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":454.5,"y":169,"wires":[]}]
