ICP/ICP5/rbe.txt
[{"id":"292b79b7.7366d6","type":"tab","label":"RBE Demo","disabled":false,"info":""},{"id":"96f0c9e7.849a88","type":"rbe","z":"292b79b7.7366d6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":341.5,"y":219,"wires":[["f43412d1.c539f"]]},{"id":"4f790867.6c9068","type":"inject","z":"292b79b7.7366d6","name":"","topic":"","payload":"test2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.5,"y":224,"wires":[["96f0c9e7.849a88"]]},{"id":"f43412d1.c539f","type":"debug","z":"292b79b7.7366d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":578.5,"y":225,"wires":[]}]
