ICP/ICP5/socket.txt
[{"id":"b1e2687.35f5e98","type":"tab","label":"Web Socket Demo","disabled":false,"info":""},{"id":"76c7729a.43aa1c","type":"websocket in","z":"b1e2687.35f5e98","name":"","server":"daea0491.04b8e8","client":"","x":268.5,"y":135.00000190734863,"wires":[["fe995923.4f01a8"]]},{"id":"fadf45f4.74cbd8","type":"websocket out","z":"b1e2687.35f5e98","name":"","server":"daea0491.04b8e8","client":"","x":516.5000076293945,"y":271.00000190734863,"wires":[]},{"id":"84ba6b4d.8c8558","type":"inject","z":"b1e2687.35f5e98","name":"","topic":"","payload":"Hello there","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":129.5,"y":274,"wires":[["fadf45f4.74cbd8"]]},{"id":"fe995923.4f01a8","type":"debug","z":"b1e2687.35f5e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":535.5,"y":141,"wires":[]},{"id":"daea0491.04b8e8","type":"websocket-listener","z":"","path":"wss://echo.websocket.org","wholemsg":"false"}]
