ICP/ICP5/switch.txt
[{"id":"1bcc561.0cab8aa","type":"tab","label":"Switch Node Demo","disabled":false,"info":""},{"id":"e44fba4.648ec48","type":"inject","z":"1bcc561.0cab8aa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155.5,"y":284.00000286102295,"wires":[["670b9cb5.bc71b4"]]},{"id":"670b9cb5.bc71b4","type":"function","z":"1bcc561.0cab8aa","name":"RandomNumberGenerator","func":"msg.payload = Math.floor(Math.random() * 100);\nreturn msg;","outputs":1,"noerr":0,"x":234.5,"y":150,"wires":[["bf9b6411.a75878","a84942b8.f1497"]]},{"id":"bf9b6411.a75878","type":"debug","z":"1bcc561.0cab8aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":305.5,"y":57,"wires":[]},{"id":"a84942b8.f1497","type":"switch","z":"1bcc561.0cab8aa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"49","vt":"num"},{"t":"eq","v":"50","vt":"str"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":408.50000381469727,"y":294.00000381469727,"wires":[["8049ed50.07dab"],["ea302237.132e5"],["c04d5ab7.340e58"]]},{"id":"8049ed50.07dab","type":"debug","z":"1bcc561.0cab8aa","name":"<49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":622.5000038146973,"y":221.00000381469727,"wires":[]},{"id":"ea302237.132e5","type":"debug","z":"1bcc561.0cab8aa","name":"=50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670.5000038146973,"y":303.00000381469727,"wires":[]},{"id":"c04d5ab7.340e58","type":"debug","z":"1bcc561.0cab8aa","name":">50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":633.5000038146973,"y":373.00000381469727,"wires":[]}]
